substeps,1
name,tlm_x
domain,Mechanical
dimensions,1
causality,Bidirectional
position,1
speed,2
force,3
wave,13
impedance,14
wavedata,19
timedata,20
name,tlm_y
domain,Mechanical
dimensions,1
causality,Bidirectional
position,4
speed,5
force,6
wave,15
impedance,16
wavedata,21
timedata,22
name,tlm_phi
domain,Rotational
dimensions,1
causality,Bidirectional
position,7
speed,8
force,9
wave,17
impedance,18
wavedata,23
timedata,24
